<!DOCTYPE html>
<html>
<head>
	<title>DSU WIKI</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/stylesheets/insert_style.css" rel="stylesheet" type="text/css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <nav class="topMenu" >
        <ul class = 'navbar'>
                <li>
                    <a class="logo" href="/">
                        <img src="/images/logo.png" class='dsu' width = "120" height="60" align="center" />
                    </a>
                </li>
        </ul>
        <div class="input-form">
                <form action ='/result' method="POST">
                        <input type="search" name="text" placeholder="검색하시오" class = 'search'/>
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                </form>
        </div>                              
    </nav>
</head>
<body>
    <div class = 'radios'>
            <input type = 'radio' name='radio' id = 'human' >
            <label for='human'>사람</label>
            <input type = 'radio' name='radio' id = 'study' >
            <label for='study'>강의</label>
    </div>
<form action="/insert_to_success" method="POST" >    
<div class = 'textbox' >   
    <div class = 'text-human' style="display: none">
        <p><h3>소개글</h3></p>
        <input type = 'text' name='intro_in' id = 'text-human1' value=""/>
        <p><h3>인물사진</h3></p>
        <input type = 'text' name='picture' id = 'text-human2' value=""/>
        <p><h3><%= text %>에 대한 말.말.말</h3></p>
        <input type = 'text' name='talk_in' id = 'text-human3' value=""/>
    </div>
    <div class = 'text-study' style="display: none">
        <p><h3>소개글</h3></p>
        <input type = 'text' name='intro_in' id = 'text-study1' value=""/>
        <p><h3>장소</h3></p>
        <input type = 'text' name='picture' id = 'text-study2' value=""/>
        <p><h3><%= text %>에 대한 말.말.말</h3></p>
        <input type = 'text' name='talk_in' id = 'text-study3' value=""/>
    </div>
    <input type="submit" value='업로드'>
    <input type='hidden' value="<%=text%>" name='text'>
</div>
</form>
</body>
<script>
    $(document).ready(function(){
        $('#human').click(function(){
            if($('#human').is(':checked')){
                $('.text-human').show();
                $('.text-study').hide();
            }else{
                $('.text-human').hide();
            }   
        })
        $('#study').click(function(){
            if($('#study').is(':checked')){
                $('.text-study').show();
                $('.text-human').hide();
            }else{
                $('.text-study').hide();
            }   
        })
    })
</script>
</html>



